:root {
    --color1: #8000FF;
    --color2: #4000FF;
    --txthover: #00FF80;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vh;
    padding: 0px;
    margin: 0px;
}

*:focus {
    outline: none;
}

body {
    background-color: #202020;
}

/* Buttons */
button, .Formbutton{
    padding: 5px;
    border-radius: 5px;
    border-color: #0000;
    background-color: #909090;
    color: #000;
    margin: 0.5vh;
    transition: all 0.3s;
}

button:hover, .Formbutton:hover {
    color: var(--txthover);
    background-color: #959595;
}
/* end buttons */

/* navbar */
nav {
    position: fixed;
    width: 2vw;
    background: var(--color1);
    height: 5.5vh;
    left: 0px;
    top: 0px;
    margin: 0px;
    text-align: center;
    border-radius: 0vh 0vh 2vh 0vh;
    transition: all 0.3s;
    transition-delay: 0.2s;
    user-select: none;
}

nav:hover {
    background-color: var(--color2);
}

nav.extend {
    width: 60vw;
}

nav .NavtextWrap {
    width: 2vw;
    transition-delay: all 0.3s;
    height: 5.5vh;
    overflow: hidden;
}

nav.extend .NavtextWrap {
    width: auto;
    height: 5.5vh;
}

nav ul {
    padding-right: 1vw;
    padding-left: 2vw;
    overflow: hidden;
}

nav a {
    float: none;
    padding-left: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    white-space: nowrap;
    display: block;
    float: left;
    position: static;
    font-weight: 600;
}

nav ul a {
    color: #0000;
}

nav.extend ul a {
    color: #FFFFFF;
}

nav.extend ul a:hover {
    color: var(--txthover);
	letter-spacing: 2px;
}

nav div#NavPijl h2 {
    transition: all 0.5s;
    color: var(--txthover);
    position: absolute;
    top: 0.95vh;
    font-weight: 900;
    font-size: 2.5vh;
    transform: translateX(0.5vw);
    transition-timing-function: cubic-bezier(.5,-0.8,.5,1.6);
}

nav div#NavPijl.left h2 {
    transform: rotate(180deg) translateX(-0.5vw);
}
/* End navbar */


/* Lists */
ul {
    list-style: none;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-style: italic;
    transition: all 0.5s;
}

a:visited {
    color: #FFFFFF;
    text-decoration: none;
    font-style: italic;
}

li a:hover {
    color: var(--txthover);
}
/* end lists */


/* Header */
header {
    color: #FFFFFF;
    margin: auto;
    width: 80vw;
    padding-top: 8vh;
}

header h1 {
    font-size: 6vh;
}

header h2 {
    font-size: 3vh;
}

/* homepage */
header#mainheader.extended {
    height: 100vh;
}

header#mainheader {
    height: 30vh;
    transition: all 0.6s;
}

/* subpages */
header#subpage {
    height: 30vh;
}

/* game pages */
header#danganPage h1 {
    color: var(--color1);
}

header#p5Page h1 {
    color: var(--color1);
}

header#botwPage h1 {
    color: var(--color1);
}
/* end header */


/* sections */
.section {
    background-color: #AAAAAA;
    border-radius: 2vh;
    width: 85vw;
    margin: 4vh auto;
}

.section .inhoud {
    margin: auto;
    width: 70vw;
    padding: 5vh;
    font-size: 2vh;
    overflow: auto;
}

.section h3 {
    font-size: 3vh;
}

.section img {
    float: right;
    width: auto;
    height: 30vh;
    margin-left: 1vw;
    border-inline: none;
}

.section a {
    font-size: 2vh;
    color: var(--color1);
}

.section a:hover {
    color: var(--txthover);
}
/* end sections */


/* Bronnenlijst */
.inhoud li {
    font-size: 1.8vh;
}

.inhoud li a {
    color: #000000;
    font-size: 1.8vh;
}

.inhoud li a:hover {
    color: var(--txthover);
}
/* end Bronnenlijst */


/* logboek */
.logboek h3 {
    padding-bottom: 1vh;
}

.logboek table {
    border: 1px solid black;
    border-radius: 1vw;
}

.logboek table th {
    width: 15vw;
    padding: 0.7vh;
    font-size: 1.7vh;
}

.logboek tr.tableHead th {
    font-weight: bolder;
}

.logboek p {
    font-size: 2vh;
    font-weight: 600;
    padding-top: 0.7vh;
}
/* end logboek */


/* Footer */
footer {
    background-color: #202020;
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin: auto;
    width: 80vw;
}

footer a {
    font-size: 2vh;
}

footer h2 {
    color: #FFFFFF;
    padding-bottom: 0.5vh;
    font-size: 3.5vh;
}

footer ul {
    list-style: disc;
    color: #FFFFFF;
}

footer a:hover {
    font-size: 2.1vh;
}

footer .LinksFooter {
    float: left;
    width: 40vw;
    position: static;
}

footer .DisclaimerFooter {
    float: left;
    width: 40vw;
    font-size: 1.8vh;
    color: #FFFFFF;
}

footer .Copyright {
    margin: auto;
    float: left;
    width: 80vw;
    color: #FFFFFF;
    position: static;
    padding: 1vw;
}

footer .Copyright h5 {
    font-size: 2vh;
    text-align: center;
}
/* end footer */


/* Scrollbar */
::-webkit-scrollbar {
    background: #202020;
    width: 0.3vw;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color1);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color2);
}
/* end scrollbar */