* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vh;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #202020;
}

/* navbar */
nav {
    position: fixed;
    width: 1vw;
    background: #8000FF;
    height: 5.5vh;
    min-height: 3vh;
    left: 0px;
    top: 0px;
    margin: 0px;
    transition: all 0.3s;
    text-align: center;
    border-radius: 0vh 0vh 2vh 0vh;
}

nav:hover {
    background-color: #6000FF;
}

nav.extend {
    width: 50vw;
}

nav ul {
    padding-right: 1vw;
    padding-left: 2vw;
    overflow: hidden;
}

nav a {
    float: none;
    padding-left: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    white-space: normal;
    display: block;
    float: left;
    position: static;
    font-weight: 600;
}

nav a:hover {
letter-spacing: 2px;
}

/* Lists */
ul {
    list-style: none;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-style: italic;
    transition: all 0.5s;
}

a:visited {
    color: #FFFFFF;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    color: #FF8000;
}

/* Footer */
footer {
    background-color: #202020;
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin: auto;
    width: 80vw;
}

footer h2 {
    color: #FFFFFF;
    padding-bottom: 0.5vh;
    font-size: 2.5vh;
}